<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cofarma Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='logo-cofares-png.png') }}" alt="Cofares Logo" class="logo">
        <h1 class="main-title">COFARMA</h1>
    </div>
    <div class="search-container">
        <div class="search-box">
            <input type="text" id="user-input" class="user-query" placeholder="Ingresa un prompt">
            <button onclick="sendMessage()">Buscar</button>
        </div>
    </div>

    <div id="chatbox" class="chat-container"></div>
    <p class="sub-title">Un producto desarrollado por DataSetA 🍄</p>

    <script>
        function sendMessage() {
            const inputField = document.getElementById("user-input");
            const userMessage = inputField.value;
            if (!userMessage) return;

            // Añadir el mensaje del usuario al chat
            addMessageToChat("user-message", userMessage);
            inputField.value = "";

            // Enviar el mensaje al servidor
            fetch("/chat", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ prompt: userMessage })
            })
            .then(response => response.json())
            .then(data => {
                // Añadir solo la respuesta generada por el bot al chat
                addMessageToChat("bot-message", data.response);
            });
        }

        function addMessageToChat(className, message) {
            const chatbox = document.getElementById("chatbox");
            const messageElement = document.createElement("div");
            messageElement.classList.add("message", className);
            
            // Formatear el mensaje para que reconozca títulos y subtítulos
            messageElement.innerHTML = message
                .replace(/\*\s\*\*(.*?)\*\*\s/g, '<strong>$1</strong>') // Títulos
                .replace(/\*\s(.*?)\s/g, '<h3>$1</h3>'); // Subtítulos

            chatbox.appendChild(messageElement);
            chatbox.scrollTop = chatbox.scrollHeight;  // Auto-scroll hacia abajo
        }
    </script>
</body>
</html>